*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;;
    font-style: normal;
}
body{
  
   width: 100%;

}
.logo img{
    height: 50px;
    margin-top: 20px;
}
.navbar{
    display: flex;
    height: 105px;
    background-color:#000;
   justify-content: space-between;
}
.line{
    width: 1px;
    height: 50px;
    background-color: #fff;
    margin: 17px;
}
.list{
    
    display: flex;
    color: #ffffff;
    list-style: none;
gap:10px;
    
}
.btn1{
     margin: 25px 30px;
   
}
.list li{
    cursor: pointer;
    margin: 33px 30px 20px 30px;
}
button{
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
background-color: #ba0cc5;
cursor: pointer;
}
.main {
    background: url(bg.png) ;
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}
.main h1{
/* width: 70%; */
font-size: 80px;
max-width: 846px;
    font-weight: 600;
}
.main p{
    font-size:31px;
    margin-top: 10px;
    line-height: 40px;
}
.btn2{
    width: 290px;
    font-size: 22px;
    margin-top: 60px;
}
